<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="map-wrapper">

    <div #map id="map"></div>
  </div>


</ion-content>
